<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/frontend/img/favicon/favicon.ico">

    <link rel="stylesheet" href="/assets/frontend/fonts/fonts.css">

    <link rel="stylesheet" href="/assets/frontend/css/style.css">
    <link rel="stylesheet" href="/assets/frontend/css/sticker.css">
    <link rel="stylesheet" href="/assets/frontend/css/modal.css">
    <link rel="stylesheet" href="/assets/frontend/css/modal-events.css">

    <title>ManicureApp - RoadMap</title>

</head>

<body>

    <header>
        ManicureApp <small class="header-b">RoadMap</small>
    </header>

    <main></main>



    <script>
        setTimeout( () => {
            // bithShowsMe2(1);
        }, 400);
    </script>
</body>

<script type="text/javascript" src="/assets/frontend/js/func.js"></script>

<script type="text/javascript" src="/assets/frontend/js/modal.js"></script>
<script type="text/javascript" src="/assets/frontend/js/modal-events.js"></script>
<script type="text/javascript" src="/assets/frontend/js/roadmap.js"></script>


<script type="text/javascript" src="/assets/frontend/js/app.js"></script>

</html>